*{
    margin: 0;
    padding: 0;
}

body{
    background-color:#f7f6f2 ;
    font-size: 16px;
}

#area-cabecalho{
    background-color: #fcd5ce;
    padding: 80px 80px 50px 80px;
}

h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    margin-left: 30px;
}

h3{
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    line-height: 25px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#area-conteudo{
    font-family: 'Source Sans Pro', sans-serif;
}

h4{
    background-color: black;
    color: white;
    width: 150px;
    text-align: center;
    font-size: 25px;
    margin: 30px 0 30px 110px;
    
}

.dados{
    margin: 15px 110px;
    font-weight: bolder;
}

li{
    list-style: square;
    margin: 15px;
}


